@use 'colors' as *;

@media (min-width: 1100px) {
  .main {
    background: url("../images/bg-intro-desktop.png") center center/cover;
    background-color: $Red;
  }
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }
  .main__text {
    width: 55%;
    margin-right: 2rem;
    h1 {
      font-size: 3rem;
      text-align: left;
    }
    p {
      text-align: left;
      font-size: 1.2rem;
    }
  }
  .main__cta {
    width: 55%;
  }
}
